<img src="/images/main/header.jpg" alt="Poor Clares Convent, Arundel" class="img-responsive nav-justified" />
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/beginningsClaresStory" class="navbar-brand">Poor Clares</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle">Beginnings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Clare</li>
                        <li><a href="#/beginningsClaresStory">Clares Story</a></li>
                        <li><a href="#/beginningsClaresThoughts">Clares Thoughts</a></li>
                        <li><a href="#/beginningsClaresPrayers">Clares Prayers</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Francis</li>
                        <li><a href="#/beginningsFrancisLife">Francis Life</a></li>
                        <li><a href="#/beginningsFrancisThoughts">Francis Thoughts</a></li>
                        <li><a href="#/beginningsFrancisPrayers">Francis Prayers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Community <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/communityArundel">Arundel</a></li>
                        <li><a href="#/communityVocation">Vocation</a></li>
                        <li><a href="#/communityAddressesPoorClareConvents">Addresses</a></li>
                        <li><a href="/Content/communityTripAroundHouse.pdf">Trip around the house</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Sister's stories</li>
                        <li><a href="#/communitySistersAnn">Sister Ann</a></li>
                        <li><a href="#/communitySistersClareAgnes">Sister Clare Agnes</a></li>
                        <li><a href="#/communitySistersClareRuva">Sister Clare Ruva</a></li>
                        <li><a href="#/communitySistersGabriel">Sister Gabriel</a></li>
                        <li><a href="#/communitySistersGraca">Sister Graça</a></li>
                        <li><a href="#/communitySistersJoseph">Sister Joseph</a></li>
                        <li><a href="#/communitySistersMaria">Sister Maria</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Foundations</li>
                        <li><a href="#/communityFoundationsKenya">Kenya</a></li>
                        <li><a href="/Content/communityFoundationsHollington.pdf">Hollington</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Our Life <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Prayer</li>
                        <li><a href="#/prayerIntroduction">Introduction to prayer</a></li>
                        <li><a href="#/prayerOur">Our prayer</a></li>
                        <li><a href="#/prayerGuided">Guided prayer</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Work</li>
                        <li><a href="#/workOur">Our work</a></li>
                        <li><a href="#/workShop">Our shop</a></li>
                        <li><a href="/Content/tripAroundGuestHouse.pdf">Trip around the guesthouse</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle">Misc <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/miscFAQs">FAQs</a></li>
                        <li><a href="#/miscLinks">Links</a></li>
                        <li><a href="#/miscGlossary">Glossary</a></li>
                    </ul>
                </li>
                <li><a href="#/events">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/theConvent/home">The Convent</a></li>
            </ul>
        </div>
    </div>
</div>