<style>
    #content
    {
        text-align: center;
    }

        #content > a
        {
            display: inline-block;
        }

    #door
    {
        height: 250px;
        width: 228px;
        margin-left: auto;
        margin-right: auto;
        -moz-transition: 0.20s ease-out;
        -ms-transition: 0.20s ease-out;
        -webkit-transition: 0.20s ease-out;
        -o-transition: 0.20s ease-out;
        transition: 0.20s ease-out;
    }

        #door:hover
        {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            -o-transform: scale(0.9);
            transform: scale(0.9);
        }

    #template h2
    {
        font-size: 1.7em;
        text-align: center;
        margin: 10px auto;
    }

    #us
    {
        max-width: 400px;
        margin: 0 auto 0 auto;
    }

    #footer
    {
        max-width: 420px;
        font-size: 0.70em;
        background: url('images/smalltau.jpg') no-repeat left top;
        margin: 10px auto 10px auto;
    }
</style>
<div id="content">
    <h2>
        WELCOME TO THE<br />
        POOR CLARES
    </h2>
    <a href="#/beginningsClaresStory" title="Click to enter..."><img id="door" src="images/door.jpg" alt="Click here to enter..." class="img-responsive" /></a>
    <h2>
        OF ARUNDEL
    </h2>

    <div id="us">
        We are sisters, who share prayer, work, laughter and struggles,
        and live according to the Form of Life drawn up by
        St Clare of Assisi in 1253.
    </div>

    <div id="footer">
        © Community of Poor Clares, Arundel 2012<br />
        Convent of Poor Clares, Crossbush, Arundel, BN18 9PJ<br />
        e-mail: <a href="mailto:poorclarescrossbusharundel@hotmail.co.uk">poorclarescrossbusharundel@hotmail.co.uk</a><br />
        <br />
        Photos by Norman Shepherd, Soraya Kishtwari, and members of the community.<br />
        Photos in the 'Convent' site by members of the TV crew.
    </div>
</div>