<h3>Our Shop</h3>

<p>Please come to visit the shop or email <a href="mailto:marialukeong@gmail.com?subject=Shop">marialukeong@gmail.com</a>. If ordering by post, payment by cheque only. Postage charged according to weight and size of order. (Cheques payable to: Convent of Poor Clares)</p>

<p>Our Card Order Form is <a href="/content/workShopCardOrderForm.html" target="_blank">here</a>. You can either download the form and post it to us with payment or copy it into an email and send to <a href="mailto:marialukeong@gmail.com?subject=Shop - Card Order">Maria Hii</a>. Maria will be able to advise the best payment method.</p>

<h4>Cards</h4>

<p>We can do laminated cards up to A4 size with personal messages or words to order, individually priced on designed paper.</p>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCards50p.jpg" />
    </div>
    <div class="panel-footer">Cards at 50p, until stock runs out.  A variety of cards packed in nice clear cello bags, including Mass cards, blank cards and different greeting cards.</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCards150p.jpg" />
    </div>
    <div class="panel-footer">Cards at £1.50 (purchase over 50 cards and get them at £1 each). Real photo cards with scenes from the convent garden.</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCardsIcon.jpg" />
    </div>
    <div class="panel-footer">Icon cards</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCardsWax.jpg" />
    </div>
    <div class="panel-footer">Wax painted cards</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCardsFranciscan.jpg" />
    </div>
    <div class="panel-footer">Franciscan cards</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCardsOther.jpg" />
    </div>
    <div class="panel-footer">Others (animals, trees and wild life...)</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCardsIndividual.jpg" />
    </div>
    <div class="panel-footer">Handmade individually priced cards</div>
</div>

<h4>Notelets</h4>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopNoteletsAfrican.jpg" />
    </div>
    <div class="panel-footer">African notelets (8 notelets with 4 designs complete with envelopes) £1</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopNoteletsSquirrel.jpg" />
    </div>
    <div class="panel-footer">Squirrel thank you notelet with 5 envelopes, 5 of 1 design £1</div>
</div>

<h4>Notepads</h4>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopNotepads.jpg" />
    </div>
    <div class="panel-footer">10 sheets with 5 envelopes £1</div>
</div>

<h4>Books</h4>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksClare.jpg" />
    </div>
    <div class="panel-footer">Clare of Assisi cartoon book and Clare of Assisi worldwide Poor Clares monasteries £5 each</div>
</div>

<p>Books written by members of the community:</p>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksSrFrances.jpg" />
    </div>
    <div class="panel-footer">Living the Incarnation, by Sr. Frances Teresa £8.95</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksSrClare1.jpg" />
    </div>
    <div class="panel-footer">St. Francis and St. Clare of Assisi, by Sr. Clare Agnes £5.95</div>
</div>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksSrClare2.jpg" />
    </div>
    <div class="panel-footer">Mission of a contemplative - Being a Poor Clare, by Sr. Clare Agnes £1.95</div>
</div>

<div class="panel panel-default" style="max-width:350px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksHiddenWheat.jpg" />
    </div>
    <div class="panel-footer">Hidden Wheat, a part of the history of the community from 1621-1971, is free if you indicate how many copies at your purchase</div>
</div>

<div class="panel panel-default" style="max-width:350px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooks100Years.jpg" />
    </div>
    <div class="panel-footer">Notes on the first 100 years of the convent foundation at Crossbush, Arundel 30p</div>
</div>

<div class="panel panel-default" style="max-width:350px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBooksLoveHimTotally.jpg" />
    </div>
    <div class="panel-footer">Love Him Totally, a talk given to the Franciscan Association in 1989 by Sr. Angela 30p</div>
</div>

<h4>Postcards</h4>

<div class="panel panel-default" style="max-width:350px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopPostcards.jpg" />
    </div>
    <div class="panel-footer">Sunset, Snow and Summer visitor 15p each.</div>
</div>

<h4>Crosses</h4>

<div class="panel panel-default" style="max-width:200px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCrossTau.jpg" />
    </div>
    <div class="panel-footer">Tau £2.20</div>
</div>

<div class="panel panel-default" style="max-width:200px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopCrossSanDamiano.jpg" />
    </div>
    <div class="panel-footer">San Damiano £3.50</div>
</div>

<p>Each one packed with a leaflet of information.</p>

<h4 style="clear:both">Orders Taken For...</h4>

<div class="panel panel-default" style="max-width:400px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopBabyClothes.jpg" />
    </div>
    <div class="panel-footer">Aran Sweaters and Baby clothes, individually priced.</div>
</div>

<div class="panel panel-default" style="max-width:300px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopAprons.jpg" />
    </div>
    <div class="panel-footer">Old fashioned cotton aprons made by Sr. Ambrose £5.</div>
</div>

<div class="panel panel-default" style="max-width:350px;">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/shopMisc1.jpg" /><br />
        <img class="img-responsive" src="/images/main/shopMisc2.jpg" /><br />
        <img class="img-responsive" src="/images/main/shopMisc3.jpg" />
    </div>
    <div class="panel-footer">Other things and all items subject to stock availability.</div>
</div>

